$margin-navbar-mobile: 112px;
$margin-navbar-desktop: 64px;

:host {
  display: block;
  height: $margin-navbar-desktop;
}

.navbar-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}
.docs-button[md-button],
.docs-button[md-raised-button] {
  text-transform: uppercase;
}
.docs-github-logo {
  height: 21px;
  margin: 0 7px 2px 0;
  vertical-align: middle;
}

.docs-navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.flex-spacer {
  flex-grow: 1;
}

.nav-bar {
  position: fixed;
  z-index: 11;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.icon-logos {
  width: 32px;
  height: auto;
}

.show-mobile {
  display: none;
}
.hide-mobile {
  display: block;
}

@media (max-width: 640px) {
  :host {
    height: $margin-navbar-mobile;
  }
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .nav-bar-mobile-toolbar {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    margin-top: 55px;
    position: fixed;
    z-index: 10;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }
}
