<header id="home" class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Political-Tech Activism</h1>
      <h2>Commited to eliminate corruption and fix our democracys</h2>
      <h2>🚀 MEETS THE SPACE 🚀</h2>
    </div>
    <div class="header-start">
      <a
        mat-raised-button
        color="accent"
        class="button"
        href="https://airtable.com/shrvNukOEICNxELNN"
        target="_blank"
        >Want to volunteer? Sign up!</a
      >
    </div>
  </div>
</header>

<div id="why" class="docs-homepage-promo row-background-even">
  <div class="header-headline">
    <h1 class="mat-h1">Why we do it?</h1>
    <p>To fix the system 💪</p>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>We are tired of corruption</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Big money influencing our laws, and stupid political discourse. The system is a money
            making machine. The system is broken,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>Democracy must be honest and efficient</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Our actual democracy is just a mechanism to let citizens feel iimportant but not because
            the power really cares about them.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>Politicals have to work for citizens</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            With the current system the citizens are working hard to fund the system, that funds
            banks and big corporations. Big companies wants money, politicians want power, they are
            the perfect match to oprress citizens.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div id="how" class="docs-homepage-promo row-background-pair">
  <div class="header-headline">
    <h1 class="mat-h1">How we do it?</h1>
    <p>Joining together activists and tech makers 🤟</p>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title
            >Group of political and tech activists all arround the world</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <p>
            With the current system the citizens are working hard to fund the system, that funds
            banks and big corporations. Big companies wants money, politicians want power, they are
            the perfect match to oprress citizens.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>Thinking global, ambitious, and non-for-profit.</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            To make this big, we need full-time people, so we will fund our selves with a
            subscription moodel you can subscribe on <strong>Vaki Sponsots</strong>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>Transparency on public money</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            With the current system the citizens are working hard to fund the system, that funds
            banks and big corporations. Big companies wants money, politicians want power, they are
            the perfect match to oprress citizens.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div style="margin-top:14px;">
    <a mat-raised-button color="accent" class="button" routerLink="team">Meet the team!</a>
  </div>
</div>

<div id="what" class="docs-homepage-promo row-background-even">
  <div class="header-headline">
    <h1 class="mat-h1">What we do?</h1>
    <p>Digital products that gives the power to the people 💚</p>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>Citizen oversight </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Products that helps people to check what their goverments are doing and how, what or why
            they are taking the decitions they make.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>Liquid democracy </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Democracy should be liquid, not all the votes on a goverment should be the same.
            Citizeens should be able to decide who has more decision power delegating their votes.
            Also, politicians must make public their opinion about every law and project they will
            vote, citizens should be invoolved on the debat so they can decide to who give their
            vote.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="docs-homepage-promo-desc">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>Transparent money</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Money moovements should be transparent, politicians can't owe favors to corporations or
            rich people, they need to be free to take the best decisions for the people. Also, the
            money the goverment spends comes from oour taxes, is our mooney, so we need to see where
            it goes, why it goes there and what iis the projections. We are theiir investments, they
            need to show us the money.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="mt-12 align-center">
    <span class="grid-item" ngClass="mat-body-2">Check our beta products</span>
    <div class="grid mt-12">
      <div class="grid-item mr-12">
        <a
          mat-raised-button
          color="accent"
          class="button"
          href="https://neocratium-dev.firebaseapp.com/"
          target="_blank"
          >Neocratium</a
        >
      </div>
      <div class="grid-item ml-12">
        <a
          mat-raised-button
          color="accent"
          class="button"
          href="https://techo-beta.vaki.co/"
          target="_blank"
          >Vaki Sites</a
        >
      </div>
    </div>
  </div>
</div>
